{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookLook</title>
    <link rel="stylesheet" href="{% static 'app/index.css' %}">

</head>
<body>

    <header>
        <div class="logo">
            <h3>BookLook</h3>
        </div>
        <div class="nav-links">
            {% if user %}
            <a href="/users">Setting</a>
            <a href="/logout">logout</a>
            {% else %}
            <a href="/login">Log in</a>
            <a href="/register">Register</a>
            {% endif %}
        </div>
        {% if user %}
        <div class="account">
            <a href="/users">
            {% if user %}
                {% if user.avatar %}
                <img src="{{user.avatar.url}}" alt="User Avatar" style="width: 50px; height: 50px; border-radius: 50%;">
                {% endif %}
                {{user.username}}
            {% endif %}
            </a>
        </div>
        {% endif %}
    </header>

    <div class="welcom">
        <div class="welcom-text">
            {% if user %}
                <h2>Welcome back {{ user.username }}!</h2> 
            {% else %}
                <h2>Hello Guest!</h2> 
            {% endif %}
        </div>
    </div>
    <div class="container">
        <h1 class="search-title">Book Search</h1>
        <form method="get" class="search-form">
            {{ form.query }}<br>
            <button type="submit" class="search-button">Search</button>
        </form>
        
        
        {% if request.GET.query %}
        
            {% for book in books %}
                <h2 class="results-title">Results:</h2>
                <ul class="results-list">
                    <li class="result-item">
                    <span>{{ book.title }}</span> — {{ book.author }}
                    </li>
                </ul>
            {% endfor %}
       
        {% endif %}
    </div>
    <div class="book-container">
        {% for book in books %}
            <a href="{% url 'book_detail' book.pk %}" class="book-link">
            <div class="book">
                {% if book.image %}
                    <img src={{book.image.url}} alt={{book.title}}>                    
                {% else %}
                    <img src="" alt={{book.title}}>
                {% endif %}
                <h2>Name: {{book.title}} </h2>
                <p>Description: {{book.description}}</p>
                <p>Topic: {{book.topic}}
                <p>Price: {{book.price}} Author: {{book.author}}</p>
                
            </div>
            </a>
        {% empty %}
            <div class="book">
                <p>Books not founds</p>
            </div>
        {% endfor %}
    </div>


</body>
</html>